@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
@import 'tailwindcss';

@theme {
  --font-noto-sans-kr: 'Noto Sans KR', sans-serif;

  --color-black: #333333;
  --color-white: #ffffff;

  --color-pink-700: #e6007e;
  --color-pink-500: #ffadb5;
  --color-pink-400: #ffcece;
  --color-pink-300: #ffe3ec;
  --color-pink-200: #fffafe;

  --color-gray-700: #6b6b6b;
  --color-gray-500: #d9dadb;
  --color-gray-400: #e9e8e8;
  --color-gray-200: #f8f8f8;

  --color-peach-400: #ffd3b6;
  --color-peach-300: #fff1e6;
  --color-peach-200: #f9f7f5;

  --color-mint-700: #54ddca;
  --color-mint-400: #a8e6cf;
  --color-mint-200: #f5fdef;

  --color-purple-700: #a34eef;
  --color-purple-400: #e0beff;
  --color-purple-200: #f5edff;
}

@layer utilities {
  .heading-1 {
    font-size: 33px;
    font-weight: 500;
  }
  .heading-2 {
    font-size: 26px;
    line-height: 35px;
  }
  .heading-3 {
    font-size: 20px;
    line-height: 26px;
  }
  .heading-4 {
    font-size: 20px;
    font-weight: 500;
    line-height: 20px;
  }
  .heading-5 {
    font-size: 18px;
    line-height: 27px;
  }
  .body-large {
    font-size: 16px;
    font-weight: 700;
  }
  .body-medium {
    font-size: 16px;
  }
  .body-small {
    font-size: 13px;
    line-height: 20px;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-noto-sans-kr);
}

html,
body,
#root {
  height: 100%;
}
