@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
@import 'tailwindcss';

@theme {
  --font-noto-sans-kr: 'Noto Sans KR', sans-serif;

  --color-pink: #e6007e;
  --color-gray: #6b6b6b;
  --color-light-gray: #d9dadb;
  --color-blush-pink: #ffcece;
  --color-light-pink: #ffe4fa;
  --color-baby-pink: #fffafe;
  --color-black: #000000;
  --color-white: #ffffff;
  --color-red: #a50034;
  --color-teal: #0096aa;
  --color-orange: #e97300;
  --color-purple: #7c37d5;
  --color-light-teal: #3cd5af;
  --color-yellow: #ffda27;
  --color-light-purple: #b150c5;
  --color-silver-metallic: #8a8c8f;
  --color-gold-metallic: #b49759;
}

@layer utilities {
  .heading-1 {
    font-size: 33px;
    font-weight: 500;
  }
  .heading-2 {
    font-size: 26px;
    line-height: 35px;
  }
  .heading-3 {
    font-size: 20px;
    line-height: 26px;
  }
  .heading-4 {
    font-size: 20px;
    font-weight: 500;
    line-height: 20px;
  }
  .heading-5 {
    font-size: 18px;
    line-height: 27px;
  }
  .body-large {
    font-size: 16px;
    font-weight: 700;
  }
  .body-medium {
    font-size: 16px;
  }
  .body-small {
    font-size: 13px;
    line-height: 20px;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-noto-sans-kr);
}

html,
body,
#root {
  height: 100%;
}
